.all_forum_page {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .post_part {
    flex-grow: 1;
    margin-bottom: 50px;
  }
}

.post_partie {
  margin: 50px 0;
}

.form_style {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .form_content {
    flex-grow: 1;
  }

  .send_btn {
    font-size: 35px;
    background: none;
    border: none;
  }
}

.comment_part {
  margin-left: 10%;
  margin-right: 10px;
  padding-left: 5px;
  border-left: solid 2px gray;

  #comment_form {
    margin-top: 10px;
  }
}
