// Specific CSS for your home-page

.welcome {
  margin: 30px 0 15px 0;
  color: black;
}


.cards-button {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

h4.xl-large {
      font-size: 55px;
      font-weight: bold;
      margin-bottom:0;
      line-height: 1;
    }

h1.welcome {
  text-align:left;
}
