.quizz-box {
  padding-top: 30px;

  p{
  margin-bottom: 0.5rem;
  }

  hr {
    margin-top: 4rem;
    margin-bottom: 0;
    border: 0;
    border-top: 0;
}

}

.border-question {
  border: 2px solid $yellow;
  border-radius:4px;
  margin: 0 60% 20px -40px;
}

.answer, .answer-wrong {
  padding-left:15px;
  margin: 10px 0;
}



@keyframes strike{
  0%   { width : 0; }
  100% { width: 100%; }
}
.strike {
  position: relative;
}
.strike::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
  animation-name: strike;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.checkbox {
  color:#fff;
}

.explanation {
  color: #444;
  padding: 20px;
  background-color: #eee;
  border-radius: 25px;
  margin: 10px;
}
