<div class="topbar">
  <p>CHOOSE YOUR GOAL</p>
</div>

<div class="container">
  <div id="diet-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#diet-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#diet-carousel" data-slide-to="1"></li>
      <li data-target="#diet-carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= link_to category_path(Category.all[0]) do %>
          <div class="diet-card">
            <h2>FLEXITARIAN</h2>
            <p>Center your diet around plant foods, with occasional inclusion of meat.</p>
          </div>
        <% end %>
      </div>


      <div class="carousel-item">
        <%= link_to category_path(Category.all[1]) do %>
          <div class="diet-card">
            <div class="diet-card-title">
              <span class="box-color green"></span>
              <h2 class="text">VEGETARIAN</h2>
            </div>

            <p>Center your diet around plant foods, with occasional inclusion of animal products, except meat and fish.</p>
          </div>
        <% end %>
      </div>

      <div class="carousel-item">
        <%= link_to category_path(Category.all[2]) do %>
          <div class="diet-card">
            <h2>VEGAN</h2>
            <p>Center your diet around plant foods without animal products.</p>
          </div>
        <% end %>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>




