<div class="topbar">
  <div class="chevron">
    <%= link_to choose_cookbook_path do %>
    <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>

  <div class="topbar-title">MY COOKBOOK</div>

  <div class="b-small-logo">
    <span class="logo-dot"></span>
    <span class="logo-b">b</span>
  </div>
</div>


<% @cookbook.each do |recipe| %>
  <p><%= link_to recipe.name, recipe_path(recipe.id) %></p>
<% end %>
