.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.msg-hidden {
  opacity: 0;
  transition: 1s;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  width: 150px;
  height: 150px;
  border-radius: 16px;
  color: black;
  text-align: center;
  bottom: 32%;
  left: 30%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.add_notif {
  opacity: 1 !important;
}
