.button-default {
  display: block;
  width: 150px;
  margin: 0 auto;
  background-color: white;
  color: black;
  border: 2px solid $pink;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 25px;
}

#real-finish.button-default {
  background-color: $green;
  border: none;
  color: white !important;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  margin-top: 16px;
}


.button-complete {
  display: block;
  width:150px;
  background-color: $green;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 25px;
  margin: 0 auto;
  color: white !important;
}

.accordion-card {
  border: none;
}

.tip-name {
  background-color: white;
  border: none;
  padding: 0;

  button {
    color: black;
    font-weight: normal;
    font-size: 18px;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
  .fa-angle-down:before {
  padding-right: 10px;
}
}

