.card-button {
  width: 150px;
  height: 150px;
  background-color:#fff;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
}

.yellow {
  border: 2px solid $yellow;
}


.pink {
  border: 2px solid $pink;
}

.green {
  border: 2px solid $green;
}

.card-button-text {
  display: flex;
  height:120px;
  align-items:center;

    span {
      font-size: 30px;
      font-weight: bold;
      margin-bottom:0;
      line-height: 1;
    }

    p {
      margin:0 auto;
    }
}

h4.extra-large {
      font-size: 60px;
      font-weight: bold;
      margin-bottom:0;
      line-height: 1;
    }

span.big {
      font-size: 32px;
      font-weight: bold;
      margin-bottom:0;
      line-height: 1;
    }

span.extra-large {
      font-size: 60px;
      font-weight: bold;
      margin-bottom:0;
      line-height: 1;
    }

a, a:hover {
  color: black;
}
