
.diet-card {
  width: calc(100% - 70px);
  height: 300px;
  margin: 20px auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: black;
  border-radius: 25px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  position: relative;
  // margin-top: calc((100vh - 463px) / 2);

  .diet-card-title {
    position: relative;
    .category-text {
      position: relative;
      z-index: 2;
    }
  }
}

.diet-card-text {
  margin-bottom: 20%;
}

.diet-mark.yellow {
  background-color: $yellow;
}

.diet-mark.green {
  background-color: $green;
}

.diet-mark.pink{
  background-color: $pink;
}

.category-icons {
  align-self: flex-end;
}

.category-icons.green circle {
  fill: $green;
}

.category-icons.pink circle {
  fill: $pink;
}

.food-icon {
  margin: 5px;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-dot {
  margin: 0px 5px !important;
  background-color: $gray !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
}

.carousel-dot.active {
  background-color: black !important;
}
