.diet-card {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  border-radius: 25px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  background-color: white;

  .diet-card-title {
    position: relative;
      .box-color {
        position: absolute;
        left: 0;
        height: 40px;
        width: 12px;
        z-index: 1;
      }
    .text {
      position: relative;
      z-index: 2;
    }
  }
}

.diet-card-title .green {
  background-color: $green;
}
.diet-card-title .yellow {
  background-color: $yellow;
}
.diet-card-title .pink {
  background-color: $pink;
}

.flexitarian-icons {
  height: 38px;
}
