#footer {
  position: fixed;
  width:100%;
  bottom:0;
  z-index: 1000000;
}

.small-logo {
  position: relative;
  margin-top: -100px;
  text-align: center;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.purple-circle {
  background-color: #5626C4;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.go {
  font-size: 30px;
  position: absolute;
  z-index: 15;
  padding-bottom: 6px;
  color: white;
  font-family: $logo-font;
}

.footer-nav {
  position: absolute;
  width:100%;
  height: 75px;
  background-color: white;
  bottom: 0;
  box-shadow: 0px 4px 40px rgba(225, 226, 239, 0.9);
  border-radius: 50px 50px 0px 0px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding:0;
}

.footer-nav-item {
  display: inline;
  width: 60px;
}

.footer-nav-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icon-section {
  display: flex;
  width: 45%;
  justify-content: space-around;
}


.footer-nav-item i {
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.active i {
  -webkit-text-stroke-width: 0;
  color: black;
}

.footer-nav-text {
  font-size: 12px;
  margin: 0;
}
