.recipe-card {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  border-radius: 25px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  background-color: $yellow;
}

.recipe-details {
  margin: 0 3px 25px 3px;
  border-radius: 25px;
  border: 2px solid red;
}

// .recipe-img img{
//   border-radius:25px;
// }

.recipe-info {
  text-align:center;
}

h2.recipe-details .title {
  font-size: 20px;
  font-weight:normal;
}

h3.recipe-details .difficulty {

}

.recipe-title {
  text-align:center;
  margin-bottom: 20px;
}

.recipe-page {
  margin-top: 50px;
}

h1.main-title {
  font-size: 30px;
  letter-spacing: 4px;
}

h2.third-title {
    font-size: 22px;
    font-weight: 200;
    color: black;
    text-align: center;
}



