.recipe-carousel-card {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  border-radius: 25px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  position: relative;

  .recipe-card-text {
    position: absolute;
    bottom:0;
    background-color:#fff;
    width:300px;
    height: 90px;
    border-radius: 0px 0px 25px 25px;
    padding: 15px 0;
  }

  h2.recipe-name {
    font-size: 20px;
    font-weight:normal;
  }

  h3.recipe-difficulty {

  }
}


.recipe-img {
    width: 100%;
    height:300px;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
}

h1.head-title {
  font-size: 30px;
  letter-spacing: 4px;
}

h2.third-title {
    font-size: 22px;
    font-weight: 200;
    color: black;
    text-align: center;
}

mark {
  margin-right: -12px;
  padding: 6px 8px;
  background-color: $yellow;
}



