body {
  background-color: white;
  color: black;
}

.container {
  margin: 30px auto 120px auto;
  padding: 0 25px;
}

a, a:hover {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}


h2 {
  font-size: 22px;
  font-weight: medium;
}

p {
  font-size: 16px;
}
