<div class="topbar">
  <p class="chevron">
    <%= link_to choose_category_path do %>
    <i class="fas fa-chevron-left"></i>
    <% end %>
  </p>

  <p class="topbar-title"><span class="my">MY</span> <%= @category.name.upcase %><span class="excla-mark">!</span></%></p>
</div>

<div class="container">

    <% @challenges.each_with_index do |challenge, index| %>
      <% challenge_before = @challenges.detect { |in_challenge| in_challenge.position == challenge.position - 1 } %>

      <% is_first = challenge == @challenges.first %>
      <% is_done = current_user.challenges.include?(challenge) %>
      <% before_done = current_user.challenges.include?(challenge_before) %>

      <% if index != 0 %>
        <div class="line"></div>
      <% end %>
      <div class="challenge-box">
        <span class="color-box"></span>
        <span class="white-box"></span>
        <div class="text">
          <% if is_first || is_done || before_done %>
            <%= link_to challenge.name, challenge_path(challenge.id) %>
          <% else %>
            <p><%= challenge.name %></p>
          <% end %>
        </div>
      </div>
    <% end %>
</div>
